.image_picker_image {
    max-width: 250px;
    max-height: 250px;
    background-color: #FF0000;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: black;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}